<div class="extra dot-ellipsis" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
	<!-- author -->
	<f:if condition="{newsItem.author}">
		<span class="glyphicon glyphicon-user"></span>
		{newsItem.author}
	</f:if>

	<!-- date -->
		&nbsp;<span class="glyphicon glyphicon-calendar"></span>
		<time datetime="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}">
			<f:format.date format="%d %b, %Y">{newsItem.datetime}</f:format.date>
			<meta itemprop="datePublished" content="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}" />
		</time>

</div>
