<div class="extra" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
	<!-- author -->
	<f:if condition="{newsItem.author}">
		<span class="glyphicon glyphicon-user"></span>
		{newsItem.author}
	</f:if>

	<!-- date -->
	<span class="news-date ">
		&nbsp;<span class="glyphicon glyphicon-calendar"></span>
		<time datetime="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}">
			<f:format.date format="%d %b, %Y">{newsItem.datetime}</f:format.date>
			<meta itemprop="datePublished" content="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}" />
		</time>
	</span>

	<!-- category, show all-->
	<f:if condition="{newsItem.firstCategory}">
		&nbsp;<span class="news-category">
			<span class="glyphicon glyphicon-tags"></span>
			<f:for each="{newsItem.categories}" as="category">
				<span class="label label-info">{category.title}</span>
			</f:for>
		</span>
	</f:if>
</div>
