<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">

    <div class="section section-default">
        <div class="container">
            <div class="row">
                <div class="col-md-3 subcontent-wrap">
                    <f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="{pageUid: '{data.uid}', colPos: '1'}" />
                </div>
                <main class="col-md-9 maincontent-wrap" role="main">
                    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '0'}" />
                </main>
            </div>
        </div>
    </div>

</f:section>
</html>
