<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{data.imagewidth} || {data.imageheight}">
    <f:then>
        <f:variable name="imageattribute">style=width:{data.imagewidth}px;</f:variable>
    </f:then>
</f:if>
<img {imageattribute}
src="{f:uri.image(src: 'EXT:bootstrap_package/Resources/Public/Images/blank.gif')}"
data-src="{f:uri.image(image: file)}"
data-large="{f:uri.image(image: file, cropVariant: 'default', maxWidth: 1140)}"
data-medium="{f:uri.image(image: file, cropVariant: 'medium', maxWidth: 940)}"
data-small="{f:uri.image(image: file, cropVariant: 'small', maxWidth: 720)}"
data-extrasmall="{f:uri.image(image: file, cropVariant: 'extrasmall', maxWidth: 700)}" title="{file.title}" alt="{file.alternative}"
class="lazyload" data-preload="{f:if(condition: settings.preload.images, then: 'true', else: 'false')}" />
<noscript>
    <img src="{f:uri.image(image: file)}" title="{file.title}" alt="{file.alternative}" />
</noscript>
</html>
