<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{files}">
	<f:if condition="{files -> f:count()} > 1">
		<f:then>
		<f:switch expression="{data.imagecols}">
			<f:case value="1">
				<f:variable name="columnclass">static-width-column-1</f:variable>
			</f:case>
			<f:case value="2">
				<f:variable name="columnclass">static-width-column-2</f:variable>
			</f:case>
			<f:case value="3">
				<f:variable name="columnclass">static-width-column-3</f:variable>
			</f:case>
			<f:case value="4">
				<f:variable name="columnclass">static-width-column-4</f:variable>
			</f:case>
			<f:case value="6">
				<f:variable name="columnclass">static-width-column-6</f:variable>
			</f:case>
			<f:defaultCase>
				<f:variable name="columnclass">static-width-column-2</f:variable>
			</f:defaultCase>
		</f:switch>
	</f:then>
	<f:else>
		<f:variable name="columnclass">static-width-column-1</f:variable>
	</f:else>
	</f:if>

	<div class="gallery-row row">
		<f:for each="{files}" as="file" iteration="fileIteration">
			<div class="gallery-item items-static {columnclass}">
				<f:render partial="Media/Type" arguments="{file: file, data: data, settings: settings}" />
			</div>
		</f:for>
	</div>

</f:if>
