<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{files}">
    <f:if condition="{files -> f:count()} > 1">
        <f:then>
        <f:switch expression="{data.imagecols}">
            <f:case value="1">
                <f:variable name="columnclass">column-1</f:variable>
            </f:case>
            <f:case value="2">
                <f:variable name="columnclass">column-2</f:variable>
            </f:case>
            <f:case value="3">
                <f:variable name="columnclass">column-3</f:variable>
            </f:case>
            <f:case value="4">
                <f:variable name="columnclass">column-4</f:variable>
            </f:case>
            <f:case value="6">
                <f:variable name="columnclass">column-6</f:variable>
            </f:case>
            <f:defaultCase>
                <f:variable name="columnclass">column-2</f:variable>
            </f:defaultCase>
        </f:switch>
        </f:then>
        <f:else>
            <f:variable name="columnclass">column-1</f:variable>
        </f:else>
    </f:if>

    <f:comment>Static collage</f:comment>
    <f:if condition="{data.CType}==collage && {figureclass}==figure-items-static">
        <f:then>
            <div {collageattribute} class="collage-items collage-items-static static-{columnclass}" id="{data.uid}">
                <f:for each="{files}" as="file" iteration="fileIteration">
                    <f:render partial="Media/Type" arguments="{file: file, data: data, settings: settings}" />
                </f:for>
            </div>
        </f:then>
        <f:comment>Collage</f:comment>
        <f:else>
            <div {collageattribute} class="collage-items {columnclass}" id="{data.uid}">
                <f:for each="{files}" as="file" iteration="fileIteration">
                    <f:render partial="Media/Type" arguments="{file: file, data: data, settings: settings}" />
                </f:for>
            </div>
        </f:else>
    </f:if>

</f:if>
</html>
