<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup" class="mailchimp">
<form action="{data.st_mailchimpurl}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
<div class="mc-field-group">
	<label for="mce-FNAME">{f:translate(key: 'mailchimp.lastname', extensionName: 'st_t3core')}</label>
	<input type="text" value="" name="FNAME" id="mce-FNAME">
</div>
<div class="mc-field-group">
	<label for="mce-LNAME">{f:translate(key: 'mailchimp.lastname', extensionName: 'st_t3core')}</label>
	<input type="text" value="" name="LNAME" id="mce-LNAME">
</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">{f:translate(key: 'mailchimp.email', extensionName: 'st_t3core')}<span class="asterisk">*</span></label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
	<div id="mce-responses">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
	<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_307aca9c4e77bc17128c2b3b7_8d6c56040a" tabindex="-1" value=""></div>
	<div class="mc-button"><button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">{f:translate(key: 'mailchimp.subscribe', extensionName: 'st_t3core')}</button></div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[0]='EMAIL';ftypes[0]='email';
}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
