<f:if condition="{post}">
  <f:if condition="{settings.comments.active}">
    <f:if condition="{post.commentsActive}">
      <f:then>
        <h3 class="comment-title">
          <f:translate key="headline.commentform"/>
        </h3>
        <f:render partial="General/FlashMessages"/>
        <f:render partial="General/FormErrors" arguments="{_all}"/>

        <f:form action="addComment" name="comment" object="{comment}" pageUid="" addQueryString="true">
          <f:form.hidden name="post" value="{post}"/>
          <f:comment>
            This is the HoneyPot field, it will be set to hidden with JavaScript and must not be filled out.
          </f:comment>
          <div class="form-group js-hp">
            <label for="hp">
              <f:translate key="form.comment.hp"/>
            </label>
            <f:form.textfield id="hp" property="hp" class="form-control" additionalAttributes="{autocomplete: 'off'}"/>
            <script type="text/javascript">
              var hp = document.getElementsByClassName('js-hp');
              for (var i = 0; i < hp.length; i++) {
                hp[i].style = 'display: none;';
                hp[i].value = '';
              }
            </script>
          </div>
          <div class="form-group">
            <label for="author">
              <f:translate key="form.comment.name"/>
              <span class="tx-blog-comment-required"><f:translate key="label.required.field"/></span>
            </label>
            <f:form.textfield id="author" property="name" class="form-control"/>
          </div>
          <f:if condition="{settings.comments.email}">
            <f:then>
              <div class="form-group">
                <label for="email">
                  <f:translate key="form.comment.email"/>
                  <span class="tx-blog-comment-required"><f:translate key="label.required.field"/></span>
                </label>
                <f:form.textfield id="email" property="email" class="form-control"/>
              </div>
            </f:then>
          </f:if>
          <f:if condition="{settings.comments.url}">
            <f:then>
              <div class="form-group">
                <label for="url">
                  <f:translate key="form.comment.url"/>
                </label>
                <f:form.textfield id="url" property="url" class="form-control"/>
              </div>
            </f:then>
          </f:if>
          <div class="form-group">
            <label for="comment">
              <f:translate key="form.comment.comment"/>
              <span class="tx-blog-comment-required"><f:translate key="label.required.field"/></span>
            </label>
            <f:form.textarea id="comment" property="comment" class="form-control"/>
          </div>
          <p><span class="tx-blog-comment-required"><f:translate key="label.required.field"/> <f:translate key="label.required.field.explanation"/></span></p>

          <f:if condition="{settings.comments.google_recaptcha}">
            <script src="https://www.google.com/recaptcha/api.js"></script>
            <div class="g-recaptcha" data-sitekey="{settings.comments.google_recaptcha.website_key}"></div>
          </f:if>

          <f:form.submit name="submit" class="btn btn-primary" value="{f:translate(key: 'form.comment.submit')}"/>
        </f:form>
      </f:then>
      <f:else>
        <h3 class="comment-title"><f:translate key="headline.commentform"/></h3>
        <p><f:translate key="message.comments_closed"/></p>
      </f:else>
    </f:if>
  </f:if>
</f:if>
