// Used for responsive and static width settings.
// More info in templates and partials
// Author: micke 2017-09-23 - Major update 2017-11-01

// For parent <= 33.33333% (~1140 * 0.33 = 376 ~=> already small screen sized)
// Maintain column count for xs and sm screens
.figure-items {
	&.width-33, &.width-25, &.width-17, &.width-8 {
		@media (max-width: @screen-xs-max) {
			.column-2 {
				-moz-column-count:    2;
				-webkit-column-count: 2;
				column-count:         2;
			}
			.column-3, {
				-moz-column-count:    3;
				-webkit-column-count: 3;
				column-count:         3;
			}
			.column-4 {
				-moz-column-count:    4;
				-webkit-column-count: 4;
				column-count:         4;
			}
			.column-6 {
				-moz-column-count:    6;
				-webkit-column-count: 6;
				column-count:         6;
			}
		}
	}
	// For parent <= 66% (~1140 * 0.66 = 752) ~=> medium screen sized
	// Maintain column count for sm screens
	&.width-66, &.width-58, &.width-50, &.width-42 {
		@media (min-width: @screen-xs) and (max-width: @screen-xs-max) {
			.column-2 {
				-moz-column-count:    2;
				-webkit-column-count: 2;
				column-count:         2;
			}
			.column-3, {
				-moz-column-count:    3;
				-webkit-column-count: 3;
				column-count:         3;
			}
			.column-4 {
				-moz-column-count:    4;
				-webkit-column-count: 4;
				column-count:         4;
			}
			.column-6 {
				-moz-column-count:    6;
				-webkit-column-count: 6;
				column-count:         6;
			}
		}
	}
}

// Otherwise mimic partial Gallery bootstrap columns
@media (max-width: @screen-xs-max) {
	.column-2, .column-3 {
		-moz-column-count:    1;
		-webkit-column-count: 1;
		column-count:         1;
	}
	.column-4 {
		-moz-column-count:    2;
		-webkit-column-count: 2;
		column-count:         2;
	}
	.column-6 {
		-moz-column-count:    3;
		-webkit-column-count: 3;
		column-count:         3;
	}
}
@media (min-width: @screen-sm) {
	.column-2 {
		-moz-column-count:    2;
		-webkit-column-count: 2;
		column-count:         2;
	}
	.column-3 {
		-moz-column-count:    3;
		-webkit-column-count: 3;
		column-count:         3;
	}
	.column-4 {
		-moz-column-count:    4;
		-webkit-column-count: 4;
		column-count:         4;
	}
	.column-6 {
		-moz-column-count:    6;
		-webkit-column-count: 6;
		column-count:         6;
	}
}


// STATIC, for jquery figure-static.js
.static-column-1 {
	-moz-column-count:    1;
	-webkit-column-count: 1;
	column-count:         1;
}
.static-column-2 {
	-moz-column-count:    2;
	-webkit-column-count: 2;
	column-count:         2;
}
.static-column-3 {
	-moz-column-count:    3;
	-webkit-column-count: 3;
	column-count:         3;
}
.static-column-4 {
	-moz-column-count:    4;
	-webkit-column-count: 4;
	column-count:         4;
}
.static-column-6 {
	-moz-column-count:    6;
	-webkit-column-count: 6;
	column-count:         6;
}
