// Not for border section
.section-default, .section-footer {
	.figure {
		.figure-items-below, .figure-items-above {
			margin-top: @figure-margin;
		}
		.figure-column, .figure-wrap {
			margin-top: @figure-margin;
		}
	}
}

// General figure
.figure {
	.figure-items {
		margin-bottom: 0;
	}

	// set image width 100%, as it is limited by the gallery (or collage) item instead.
	figure.image {
		margin-bottom: @figure-margin;
		img {
			width: 100%;
			max-width: none;
		}
	}
	.gallery-item {
		float: left;
	}
	.orient-center {
		margin-left: auto;
		margin-right: auto;
		&.figure-items-static .gallery-row {
			margin: inherit;
		}
	}
	.orient-right {
		margin-left: auto;
		margin-right: 0;
		&.figure-items-static .gallery-row {
			margin: inherit;
		}
	}
	.orient-left {
		margin-left: 0;
	}


	// Wrap
	&.figure-wrap {
		.figure-items-wrap {
			margin-bottom: -(@figure-margin / 2);
			@media (max-width: @screen-xs-max) {
				margin-top: @figure-margin;
			}
			// static margin managed at jquery breakpoints in figure-static.js
			&.figure-items-static {
				margin-top: 0;
			}
			&.wrap-right {
				@media (min-width: @screen-sm) {
					float: right;
					margin-left: @grid-gutter-width;
				}
				// static is unfloated at jquery breakpoints in figure-static.js
				&.figure-items-static {
					float: right;
					margin-left: @grid-gutter-width;
				}
			}
			&.wrap-left {
				@media (min-width: @screen-sm) {
					float: left;
					margin-right: @grid-gutter-width;
				}
				// static is unfloated at jquery breakpoints in figure-static.js
				&.figure-items-static {
					float: left;
					margin-right: @grid-gutter-width;
				}
			}
		}
	}

	// Columns
	&.figure-column {
		.figure-items-column, .figure-text-column {
			padding: 0;
			float: none;
			&.column-left {
				@media (min-width: @screen-sm) {
					float: left;
				}
				// static is unfloated at jquery breakpoints in figure-static.js
				&.figure-items-static, &.figure-text-static {
					float: left;
				}
			}
			&.column-right {
				@media (min-width: @screen-sm) {
					float: right;
				}
				// static is unfloated at jquery breakpoints in figure-static.js
				&.figure-items-static, &.figure-text-static {
					float: right;
				}
			}
		}
		.figure-items-column {
			@media (max-width: @screen-xs-max) {
				margin-top: @figure-margin;
			}
			// static margin managed at jquery breakpoints in figure-static.js
			&.figure-items-static {
				margin-top: 0;
			}
		}
		.figure-text-column {
			&.column-right {
				@media (min-width: @screen-sm) {
					padding-left: @grid-gutter-width;
				}
				// static padding managed at jquery breakpoints in figure-static.js
				&.figure-text-static {
					padding-left: @grid-gutter-width;
				}
			}
			&.column-left {
				@media (min-width: @screen-sm) {
					padding-right: @grid-gutter-width;
				}
				// static padding managed at jquery breakpoints in figure-static.js
				&.figure-text-static {
					padding-right: @grid-gutter-width;
				}
			}
		}
	}
}
