// .frame {
// 	padding-top: 0;
// 	padding-bottom: 0;
// }
.frame-ruler-before {
	padding-bottom: 0;
	padding-top: 0;
	margin-top: @figure-margin;
}

.frame-ruler-after {
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: @figure-margin;
}

.frame-indent {
	padding-top: 0;
	padding-bottom: 0;
}

// Remove all spaces for small screens
@media (max-width: @screen-xs-max) {
	//
	// Space Before
	// --------------------------------------------------
	.frame-space-before-extra-small,
	.frame-space-before-small,
	.frame-space-before-medium,
	.frame-space-before-large,
	.frame-space-before-extra-large {
		margin-top: 0;
	}


	//
	// Space After
	// --------------------------------------------------
	.frame-space-after-extra-small,
	.frame-space-after-small,
	.frame-space-after-medium,
	.frame-space-after-large,
	.frame-space-after-extra-large {
		margin-bottom: 0;
	}
}
