// inspired by mdb; material design for bootstrap
/*********************
  Shadows
**********************/
.z-depth-0 {
  box-shadow: none !important;
}

.z-depth-1, .btn {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.z-depth-1-half, .btn:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.z-depth-2 {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.z-depth-3 {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.z-depth-4 {
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}

.z-depth-5 {
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}

.hoverable, .hoverable-top {
  .transition(box-shadow .4s ease-in-out 0s);
  box-shadow: none;
}
@hover-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
@hover-shadow-top: 8px 0 17px -4px rgba(0, 0, 0, 0.2), -8px 0 17px -4px rgba(0, 0, 0, 0.2);

.hoverable:hover {
  box-shadow: @hover-shadow;
}
.hoverable-top:hover {
    box-shadow: @hover-shadow-top;
}

/*********************
  Colors
**********************/
.bg-primary {
        background-color: @brand-primary;
}
@half-black: rgba(0, 0, 0, 0.5);

/*********************
  Buttons
**********************/
.btn {
  line-height: 31px;
  position: relative;
  padding: 5px 22px;
  border: 0;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 2px;
  text-transform: uppercase;
  text-decoration: none;
  outline: none !important;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.btn-xlg {
  padding: 18px 24px;
  font-size: 21px;
  line-height: 1.33333;
}

.btn-lg {
  padding: 14px 20px;
  font-size: 18px;
  line-height: 1.33333;
}

.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}

.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
}
