// Used for responsive and static width settings.
// More info in templates and partials
// Author: micke 2017-09-23 - Major update 2017-11-01

// All 100% at small screen
.width-100, .width-92, .width-83, .width-75, .width-66, .width-55,
.width-50, .width-42, .width-33, .width-25, .width-17, .width-8 {
	width: 100%;
}

// For parent <= 33.33333% (~1140 * 0.33 = 376 ~=> already small screen sized)
// Maintain column count for xs and sm screens
.figure-items {
	&.width-33, &.width-25, &.width-17, &.width-8 {
		// increase column count for xs 2,3,4,6 col
		@media (max-width: @screen-xs-max) {
			.gallery-2 {
				width: 50%;
			}
			.gallery-3 {
				width: 33.33333%;
			}
			.gallery-4 {
				width: 25%;
			}
			.gallery-6 {
				width: 16.66666%;
			}
		}
	}
	// For parent <= 66% (~1140 * 0.66 = 752) ~=> medium screen sized
	// Maintain column count for sm screens
	&.width-66, &.width-58, &.width-50, &.width-42 {
		@media (min-width: @screen-xs) and (max-width: @screen-xs-max) {
			.gallery-2 {
				width: 50%;
			}
			.gallery-3 {
				width: 33.33333%;
			}
			.gallery-4 {
				width: 25%;
			}
			.gallery-6 {
				width: 16.66666%;
			}
		}
	}
}

// Increase all figure-items widths by 1/12 at @screen-sm (~ 991)
// If in column or wrap, instead allow textwidth to grow
//  until its size 58% when unchanged and 66 and onwards when shrink again
.width-92 {
	@media (min-width: @screen-sm) {
		width: 100%;
	}
	@media (min-width: @screen-md) {
		width: 91.66666%;
	}
	// Shrink for items and text
	&.figure-items-wrap, &.figure-items-column, &.figure-text-wrap, &.figure-text-column {
		@media (min-width: @screen-sm) and (max-width: @screen-sm-max) {
			width: 83.33333%;
		}
	}
}
.width-83 {
	@media (min-width: @screen-sm) {
		width: 91.66666%;
	}
	@media (min-width: @screen-md) {
		width: 83.33333.33333%;
	}
	// Shrink for text and items
	&.figure-items-wrap, &.figure-items-column, &.figure-text-wrap, &.figure-text-column {
		@media (min-width: @screen-sm) and (max-width: @screen-sm-max) {
			width: 75%;
		}
	}
}
.width-75 {
	@media (min-width: @screen-sm) {
		width: 83.33333%;
	}
	@media (min-width: @screen-md) {
		width: 75%;
	}
	// Shrink for text and items
	&.figure-items-wrap, &.figure-items-column, &.figure-text-wrap, &.figure-text-column {
		@media (min-width: @screen-sm) and (max-width: @screen-sm-max) {
			width: 66.66666%;
		}
	}
}
.width-66 {
	@media (min-width: @screen-sm) {
		width: 75%;
	}
	@media (min-width: @screen-md) {
		width: 66.66666%;
	}
	// Last shrink also for text
	&.figure-items-wrap, &.figure-items-column, &.figure-text-wrap, &.figure-text-column {
		@media (min-width: @screen-sm) and (max-width: @screen-sm-max) {
			width: 58.33333%;
		}
	}
}
.width-58 {
	@media (min-width: @screen-sm) {
		width: 66.66666%;
	}
	@media (min-width: @screen-md) {
		width: 58.33333%;
	}
	// Shrink for items
	&.figure-items-wrap, &.figure-items-column {
		@media (min-width: @screen-sm) and (max-width: @screen-sm-max) {
			width: 50%;
		}
	}
	// Stay the same for text
	&.figure-text-wrap, &.figure-text-column {
		@media (min-width: @screen-sm) and (max-width: @screen-sm-max) {
			width: 58.33333%;
		}
	}
}
.width-50 {
	@media (min-width: @screen-sm) {
		width: 58.33333%;
	}
	@media (min-width: @screen-md) {
		width: 50%;
	}
	// Last decrease for items
	&.figure-items-wrap, &.figure-items-column {
		@media (min-width: @screen-sm) and (max-width: @screen-sm-max) {
			width: 41.66666%;
		}
	}
}
.width-42 {
	@media (min-width: @screen-sm) {
		width: 50%;
	}
	@media (min-width: @screen-md) {
		width: 41.66666%;
	}
	// Stay the same for items - smaller grows
	&.figure-items-wrap, &.figure-items-column {
		@media (min-width: @screen-sm) and (max-width: @screen-sm-max) {
			width: 41.66666%;
		}
	}
}
.width-33 {
	@media (min-width: @screen-sm) {
		width: 41.66666%;
	}
	@media (min-width: @screen-md) {
			width: 33.33333%;
	}
}
.width-25 {
	@media (min-width: @screen-sm) {
		width: 33.33333%;
	}
	@media (min-width: @screen-md) {
		width: 25%;
	}
}


// STATIC, for jquery figure-static.js
.static-width-column-1 {
	width: 100%;
}
.static-width-column-2 {
	width: 50%;
}
.static-width-column-3 {
	width: 33.33333%;
}
.static-width-column-4 {
	width: 25%;
}
.static-width-column-6 {
	width: 16.66666%;
}
