<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Figure" />
<f:section name="Header" />

<f:section name="Main">
	<f:render partial="Panel" arguments="{_all}" />
</f:section>
<f:section name="Text">
	<f:format.html>{data.additionaltext}</f:format.html>
</f:section>
</html>
