<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">


    <f:comment>Column number for column text</f:comment>
    <f:if condition="{data.column_number}">
        <f:then>
            <f:switch expression="{data.column_number}">
                <f:case value="2"><f:variable name="columnclass">column-2</f:variable></f:case>
                <f:case value="3"><f:variable name="columnclass">column-3</f:variable></f:case>
                <f:case value="4"><f:variable name="columnclass">column-4</f:variable></f:case>
                <f:defaultCase>
                    <f:variable name="columnclass">column-2</f:variable>
                </f:defaultCase>
            </f:switch>
        </f:then>
    </f:if>

    <div class="text-column {columnclass}">
        <f:format.html>{data.bodytext}</f:format.html>
    </div>

</f:section>
</html>
