<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<!--
	=====================
		Partials/List/Item.html
-->
<n:excludeDisplayedNews newsItem="{newsItem}" />


<div class="news-list-item hoverable z-depth-1 col-sm-4 col-xs-12">
<f:comment>Begin card</f:comment>
	<f:comment>Card Content</f:comment>
	<div class="card-content image-below articletype-{newsItem.type}{f:if(condition: newsItem.istopnews, then: ' topnews')}" itemscope="itemscope" itemtype="http://schema.org/Article">

		<f:comment>Card header</f:comment>
		<div class="card-header dot-ellipsis">
			<div class="inner-table">
				<h3 itemprop="headline">
						{newsItem.title}
				</h3>
			</div>
		</div>
		<hr class="card-linebreak">

		<f:comment>Card Teaser</f:comment>
		<div class="card-teaser dot-readmore" itemprop="description">
			<p>
				<f:format.stripTags>
					<f:if condition="{newsItem.teaser}">
						<f:then>
							{newsItem.teaser}
						</f:then>
						<f:else>
							{newsItem.bodytext}
						</f:else>
					</f:if>
				</f:format.stripTags>
				<n:link class="readmore" newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
				{f:translate(key: 'news.readmore', extensionName: 'st_t3core')} &raquo;</n:link>
			</p>
		</div>
		<hr class="card-linebreak">

		<f:comment>Card Author/Date</f:comment>
		<div class="card-info">
			<f:render partial="General/AdditionalInformation" arguments="{settings:settings,newsItem:newsItem}" />
		</div>
	</div>
	<f:comment>END Card Content</f:comment>

	<f:comment>Card Image</f:comment>
	<div class="card-image">
		<n:link class="overlay inserted mask bg-primary waves-effect waves-image" newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
		</n:link>
		<f:if condition="{newsItem.mediaPreviews}">
			<f:then>
					<f:media class="img-responsive" file="{newsItem.mediaPreviews.0}" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" width="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.media.image.width)}" height="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else:'')}" />
			</f:then>
			<f:else>
				<f:if condition="{settings.displayDummyIfNoMedia}">
					<f:image class="img-dummy img-responsive" src="{settings.list.media.dummyImage}" title="" alt="" maxWidth="{settings.list.media.image.maxWidth}" maxHeight="{settings.list.media.image.maxHeight}" />
				</f:if>
			</f:else>
		</f:if>
	</div>
<f:comment>END Card Image</f:comment>
</div>
</html>
