<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{records -> f:count()} > 1">
    <a data-slide="prev" role="button" class="left new-carousel-control" href="#carousel-{data.uid}">
        <span class="carousel-button left waves-effect waves-light"></span>
        <span class="sr-only">{f:translate(key: 'previous', extensionName: 'bootstrap_package')}</span>
    </a>
    <a data-slide="next" role="button" class="right new-carousel-control" href="#carousel-{data.uid}">
        <span class="carousel-button right waves-effect waves-light"></span>
        <span class="sr-only">{f:translate(key: 'next', extensionName: 'bootstrap_package')}</span>
    </a>
</f:if>
</html>
