<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <f:if condition="{records}">
        <div class="panel-group" id="accordion-{data.uid}" role="tablist" aria-multiselectable="true">
            <f:for each="{records}" as="record" iteration="iteration">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="accordion-heading-{data.uid}-{record.data.uid}">
                        <h4 class="panel-title">
                            <a class="{f:if(condition: iteration.isFirst, else:'collapsed')}" role="button" data-toggle="collapse" data-parent="#accordion-{data.uid}" href="#accordion-{data.uid}-{record.data.uid}" aria-expanded="{f:if(condition: iteration.isFirst, then: 'true', else: 'false')}" aria-controls="accordion-{data.uid}-{record.data.uid}">
                                <span>{record.data.header}</span>
                            </a>
                        </h4>
                    </div>
                    <div id="accordion-{data.uid}-{record.data.uid}" class="panel-collapse collapse {f:if(condition: iteration.isFirst, then: 'in')}" role="tabpanel" aria-labelledby="accordion-heading-{data.uid}-{record.data.uid}">
                        <div class="panel-body">

                            <f:if condition="{record.files}">
                                <f:then>
                                    <div class="row">
                                        <div class="{f:if(condition: '{record.data.mediaorient} == 0', else: 'col-md-push-6 ')}col-md-6">
                                            <f:render partial="Media/Gallery" arguments="{files: record.files, data: record.data, settings: settings}" />
                                        </div>
                                        <div class="{f:if(condition: '{record.data.mediaorient} == 0', else: 'col-md-pull-6 ')}col-md-6">
                                            <f:format.html>{record.data.bodytext}</f:format.html>
                                        </div>
                                    </div>
                                </f:then>
                                <f:else>
                                    <f:format.html>{record.data.bodytext}</f:format.html>
                                </f:else>
                            </f:if>

                        </div>
                    </div>
                </div>
            </f:for>
        </div>
    </f:if>

</html>
