<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:bk2k="http://typo3.org/ns/BK2K/BootstrapPackage/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:if condition="{records}">
        <div id="carousel-{data.uid}" class="carousel carousel-transition-{data.pi_flexform.transition} slide" data-interval="{data.pi_flexform.interval}" data-wrap="{f:if(condition:data.pi_flexform.wrap,then:'true',else:'false')}" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <f:for each="{records}" as="item" iteration="iteration">
                    <f:variable name="itemStyleImage"><f:if condition="{item.backgroundImage.0}">background-image: url('{f:uri.image(image:'{item.backgroundImage.0}',maxWidth:'{data.pi_flexform.background_image_maxwidth}')}');</f:if></f:variable>
                    <f:variable name="itemStyleColor"><f:if condition="{item.data.background_color}">background-color: {item.data.background_color};</f:if></f:variable>
                    <div class="item{f:if(condition: iteration.isFirst,then:' active')} carousel-item-type carousel-item-type-{item.data.item_type}" data-itemno="{iteration.index}" style="{itemStyleImage} {itemStyleColor}">
                        <f:switch expression="{item.data.item_type}">
                            <f:case value="header">
                                <f:link.page pageUid="{item.data.link}" additionalAttributes="{draggable:'false'}">
                                    <f:render partial="Carousel/Item/Header" arguments="{_all}" />
                                </f:link.page>
                            </f:case>
                            <f:case value="textandimage">
                                <f:link.page pageUid="{item.data.link}" additionalAttributes="{draggable:'false'}">
                                    <f:render partial="Carousel/Item/TextAndImage" arguments="{_all}" />
                                </f:link.page>
                            </f:case>
                            <f:case value="html">{item.data.bodytext->f:format.raw()}</f:case>
                        </f:switch>
                    </div>
                </f:for>
            </div>
            <f:render partial="Carousel/Control/Indicator" arguments="{_all}" />
            <f:render partial="Carousel/Control/Control" arguments="{_all}" />
        </div>
    </f:if>
</html>
