<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

	<f:if condition="{menu}">
		<ul>
			<f:for each="{menu}" as="page">
				<li>
					<a href="{page.link}"{f:if(condition: page.target, then: ' target="{page.target}"')} title="{page.title}">
						<span>{page.title}</span>
					</a>
					<f:if condition="{page.data.abstract}">
						<f:format.html>{page.data.abstract}</f:format.html>
					</f:if>
				</li>
			</f:for>
		</ul>
	</f:if>

</html>
