<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:bk2k="http://typo3.org/ns/BK2K/BootstrapPackage/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{data.figurerowsep} >= 0 && {data.CType} == collage">
    <f:then>
        <f:variable name="imageattribute">style=margin-bottom:{data.figurerowsep}px;</f:variable>
    </f:then>
</f:if>
<figure {imageattribute} class="image">
    <f:if condition="{file.link}">
        <f:then>
            <f:link.typolink parameter="{file.link}" title="{file.title}">
                <f:render partial="Media/Rendering/Image" arguments="{file: file, data: data, settings: settings}" />
            </f:link.typolink>
        </f:then>
        <f:else>
            <f:if condition="{data.image_zoom}">
                <f:then>
                    <a href="{f:uri.image(image: file, maxHeight: '1200', maxWidth: '1200')}" title="{file.title}" data-lightbox-caption="{file.description}" class="{settings.lightbox.cssClass}" data-lightbox-width="{bk2k:lastImageInfo(property: 'width')}" data-lightbox-height="{bk2k:lastImageInfo(property: 'height')}" rel="{settings.lightbox.prefix}-{data.uid}">
                        <f:render partial="Media/Rendering/Image" arguments="{file: file, data: data, settings: settings}" />
                    </a>
                </f:then>
                <f:else>
                    <f:render partial="Media/Rendering/Image" arguments="{file: file, data: data, settings: settings}" />
                </f:else>
            </f:if>
        </f:else>
    </f:if>
    <f:if condition="{file.description}">
        <figcaption class="caption"><f:format.nl2br>{file.description}</f:format.nl2br></figcaption>
    </f:if>
</figure>
</html>
