<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Figure" />
<f:section name="Main">

	<div class="collage-wrap">
		<div class="collage-wrap-items {orientation} {figureclass}">
			<f:render partial="Media/GalleryCollage" arguments="{_all}" />
		</div>
		<div class="collage-wrap-text">
			<f:format.html>{data.bodytext}</f:format.html>
		</div>
		<div class="clearfix"></div>
	</div>

</f:section>
</html>