<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Figure" />
<f:section name="Main">

	<div class="collage-below">
		<div class="collage-below-text">
			<f:format.html>{data.bodytext}</f:format.html>
		</div>
		<div class="collage-below-items {orientation} {figureclass}">
			<f:render partial="Media/Gallery" arguments="{_all}" />
		</div>
		<div class="clearfix"></div>			
	</div>	

</f:section>
</html>