<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Figure" />
<f:section name="Main">

	<div class="figure figure-column">
		<div class="figure-text figure-text-column {text-orientation} {textclass}">
			<f:format.html>{data.bodytext}</f:format.html>
		</div>
		<div class="figure-items figure-items-column {orientation} {figureclass}">
			<f:render partial="Media/Gallery" arguments="{_all}" />
		</div>
		<div class="clearfix"></div>
	</div>	

</f:section>
</html>
