<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Figure" />
<f:section name="Main">


<f:switch expression="{position}">
	<f:comment>Above</f:comment>
	<f:case value="above">
		<div class="figure figure-above">
				<div {figureattribute} class="figure-items figure-items-above {orientation} {figureclass}">
				<f:render partial="Textcolumn" arguments="{_all}" />
			</div>
			<div class="clearfix"></div>
			<div {textattribute} class="figure-text figure-text-above">
					<f:format.html>{data.additionaltext}</f:format.html>
			</div>
		</div>
	</f:case>

	<f:comment>Below</f:comment>
	<f:case value="below">
		<div class="figure figure-below">
			<div {textattribute} class="figure-text figure-text-below">
				<f:format.html>{data.additionaltext}</f:format.html>
			</div>
			<div {figureattribute} class="figure-items figure-items-below {orientation} {figureclass}">
				<f:render partial="Textcolumn" arguments="{_all}" />
			</div>
			<div class="clearfix"></div>
		</div>
	</f:case>

	<f:comment>Wrap</f:comment>
	<f:case value="wrap">
		<div class="figure figure-wrap">
			<div {figureattribute} class="figure-items figure-items-wrap {orientation} {figureclass}">
				<f:render partial="Textcolumn" arguments="{_all}" />
			</div>
			<div {textattribute} class="figure-text figure-text-wrap">
				<f:format.html>{data.additionaltext}</f:format.html>
			</div>
			<div class="clearfix"></div>
		</div>
	</f:case>

	<f:comment>Column left</f:comment>
	<f:case value="column">
	<f:if condition="{orientation}==column-left">
	<f:then>
		<div class="figure figure-column">
			<div {figureattribute} class="figure-items figure-items-column {orientation} {figureclass}">
				<f:render partial="Textcolumn" arguments="{_all}" />
			</div>
			<div {textattribute} class="figure-text figure-text-column {text-orientation} {textclass}">
				<f:format.html>{data.additionaltext}</f:format.html>
			</div>
			<div class="clearfix"></div>
		</div>
	</f:then>

	<f:comment>Column right</f:comment>
		<f:else if="{orientation}==column-right">
			<div class="figure figure-column">
				<div {textattribute} class="figure-text figure-text-column {text-orientation} {textclass}">
					<f:format.html>{data.additionaltext}</f:format.html>
				</div>
				<div {figureattribute} class="figure-items figure-items-column {orientation} {figureclass}">
					<f:render partial="Textcolumn" arguments="{_all}" />
				</div>
				<div class="clearfix"></div>
			</div>
		</f:else>
	</f:if>
	</f:case>

	<f:comment>Default</f:comment>
	<f:defaultCase>
	<div class="figure figure-above">
		<div {figureattribute} class="figure-items figure-items-above {orientation} {figureclass}">
			<f:render partial="Textcolumn" arguments="{_all}" />
		</div>
		<div class="clearfix"></div>
			<div {textattribute} class="figure-text figure-text-above">
			<f:format.html>{data.additionaltext}</f:format.html>
		</div>
	</div>
	</f:defaultCase>
</f:switch>

</f:section>
</html>
