<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">

	<f:render partial="ResponsiveWidth" arguments="{_all}" />

<div class="textfigure-below-left">
	<div class="textfigure-below-left-text">
		<f:format.html>{data.bodytext}</f:format.html>
	</div>
	<div class="textfigure-below-left-items
	<v:variable.register.get name="responsiveWidth" />
	">
		<f:render partial="Media/Gallery" arguments="{_all}" />
	</div>
</div>
</f:section>
</html>




