<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Header" />
<f:section name="Main">

    <f:render partial="ResponsiveWidthColumns" arguments="{_all}" />
    <f:render partial="Orientation" arguments="{_all}" />                

<div class="textfigure-right">
    <div class="textfigure-right-text
    <v:variable.register.get name="textClass" />
	">
        <f:render partial="Header/All" arguments="{_all}" />
        <f:format.html>{data.bodytext}</f:format.html>
    </div>
    <div class="textfigure-right-items
    <v:variable.register.get name="imgClass" />
	<v:variable.register.get name="orientation" />   
	">
            <f:render partial="Media/Gallery" arguments="{_all}" />
    </div>
    <div class="clearfix"></div>
</div>

</f:section>
</html>
