<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">

	<f:render partial="ResponsiveWidth" arguments="{_all}" />
	<f:render partial="Orientation" arguments="{_all}" />      

<div class="textfigure-wrap">
	<div class="textfigure-items-wrap
	<v:variable.register.get name="responsiveWidth" />
	<v:variable.register.get name="orientation" />
	">
		<f:render partial="Media/Gallery" arguments="{_all}" />
	</div>
	</div class="textfigure-text-wrap">
		<f:format.html>{data.bodytext}</f:format.html>
	</div>
	<div class="clearfix"></div>
</div>

</f:section>
</html>
