<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">


<!-- Responsive width -->
<f:switch expression="{data.figurewidthresponsive}">
	<f:case value="100">
		<v:variable.register.set name="responsiveWidth" value="width-100" />
	</f:case>
	<f:case value="80">
		<v:variable.register.set name="responsiveWidth" value="width-83" />
	</f:case>
	<f:case value="75">
		<v:variable.register.set name="responsiveWidth" value="width-75" />
	</f:case>
	<f:case value="66">
		<v:variable.register.set name="responsiveWidth" value="width-66" />
	</f:case>
	<f:case value="50">
		<v:variable.register.set name="responsiveWidth" value="width-50" />
	</f:case>
	<f:case value="33">
		<v:variable.register.set name="responsiveWidth" value="width-33" />
	</f:case>
	<f:case value="25">
		<v:variable.register.set name="responsiveWidth" value="width-25" />
	</f:case>
	<f:case value="20">
		<v:variable.register.set name="responsiveWidth" value="width-17" />
	</f:case>
	<f:defaultCase>
		<v:variable.register.set name="responsiveWidth" value="width-75" />
	</f:defaultCase>
</f:switch>


<!-- Orientation -->
<f:switch expression="{data.imageorient}">
	<f:case value="0">
		<v:variable.register.set name="orientation" value="orient-center" />
	</f:case>
	<f:case value="1">
		<v:variable.register.set name="orientation" value="orient-right" />
	</f:case>
	<f:case value="2">
		<v:variable.register.set name="orientation" value="orient-left" />
	</f:case>
	<f:case value="8">
		<v:variable.register.set name="orientation" value="orient-center" />
	</f:case>
	<f:case value="9">
		<v:variable.register.set name="orientation" value="orient-right" />
	</f:case>
	<f:case value="10">
		<v:variable.register.set name="orientation" value="orient-left" />
	</f:case>
	<f:case value="17">
		<v:variable.register.set name="orientation" value="wrap-right" />
	</f:case>
	<f:case value="18">
		<v:variable.register.set name="orientation" value="wrap-left" />
	</f:case>
	<f:case value="25">
		<v:variable.register.set name="orientation" value="column-right" />
	</f:case>
	<f:case value="26">
		<v:variable.register.set name="orientation" value="column-left" />
	</f:case>
	<f:defaultCase>
		<v:variable.register.set name="orientation" value="orient-left" />
	</f:defaultCase>
</f:switch>
<div class="textfigure-above">
	<div class="textfigure-items-above
	<v:variable.register.get name="responsiveWidth" />
	<v:variable.register.get name="orientation" />
	">
		<f:render partial="Media/Gallery" arguments="{_all}" />
	</div>
	<div class="clearfix"></div>
	<div class="textfigure-text-above">
		<f:format.html>{data.bodytext}</f:format.html>
	</div>
</div>
</f:section>
</html>


