<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true"></html>
<div class="col-md-6">
	<!--Image Card-->
	<div class="card z-depth-1">
		<div class="card-image hoverable">
			<div class="">
				<!-- NOT HEADER LINK TO USE -->
			<f:if condition="{data.header_link}">
				<f:then>
					<f:link.typolink parameter="{data.header_link}" class="overlay mask inserted bg-primary waves-effect"></f:link.typolink>
					<img src="https://mdbootstrap.com/images/reg/reg%20(2).jpg" alt="">
				</f:then>
				<f:else>
					<img src="https://mdbootstrap.com/images/reg/reg%20(2).jpg" alt="">	
				</f:else>
			</f:if>
			</div>
		</div>
		<div class="card-content">
			<h5>Card title</h5>
			<f:format.html>{data.bodytext}</f:format.html>
		<!--Buttons-->
		<div class="card-btn text-center">
			<a href="#" class="btn btn-primary btn-md waves-effect waves-light">Read more</a>
			<a href="#" class="btn btn-default btn-md waves-effect waves-light">Buy now</a>
		</div>
		<!--/.Buttons-->
	</div>
	<!--Image Card-->
</div>
