.carousel {
    &:hover {
        .carousel-indicators,
        .new-carousel-control {
            opacity: 0.5;
        }
    }
    // Set sizes
    .carousel-inner {
        .item {
            padding: 0;
            @media (max-width: 768px) {
                height: 400px;
            }
            @media (max-width: 500px) {
                height: 300px;
            }
            height: 500px;
        }
        .carousel-item-type-header {
            .valign {
                width: 100%;
                padding-right: 5%;
                .vcontainer {
                    text-align: right;
                    vertical-align: middle;
                    position: relative;
                    .carousel-text-inner {
                        max-width: 80%;
                        position: absolute;
                        bottom: 15%;
                        right: 0;
                        padding: 10px 5% 10px 5%;
                        // material design color
                        background-color: @half-black;
                        border-radius: 10px;
                        h1,h2,h3,h4 {
                            text-align: right;
                            z-index: 5;
                        }
                        @media (min-width: @screen-md) {
                            width: auto;
                            max-width: 60%;
                        }
                        @media (min-width: @screen-lg) {
                            width: auto;
                            max-width: 50%;
                        }
                    }
                    .carousel-text-inner:not(.main-content) {
                        @media (min-width: @screen-lg) {
                            padding-right: 8%;
                            padding-left: 6%;
                        }
                    }
                }
            }
            .valign:not(.main-content) {
                @media (min-width: @screen-lg) {
                    padding-right: 5%;
                }
                @media (min-width: 1500px) {
                    padding-right: 13%;
                }
            }
        }
    }
    // Edit controls
    .new-carousel-control {
        position: absolute;
        .transition(opacity .4s ease-in-out 0s);
        opacity: 0;
        height: 100%;
        width: 120px;
        z-index: 10;
        &:hover {
            opacity: 0.8 !important;
        }
        @media (max-width: 600px) {
            width: 80px;
        }
        &.left {
            top: 0;
            left: 0;
            @media (min-width: 992px) {
                background-image: linear-gradient(to right, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.0001) 100%);
            }
        }
        top: 0;
        right: 0;
        &.right {
            @media (min-width: 992px) {
                background-image: linear-gradient(to left, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.0001) 100%);
            }
        }
        .carousel-button {
            display: table;
            padding: 0;
            margin-top: -10px;
            position: absolute;
            top: 50%;
            z-index: 11;
            border-radius: 50%;
            width: 60px;
            height: 60px;
            background-color: #000;
            &::after {
                position: relative;
                display: table-cell;
                top: 0;
                left: 0;
                font-size: 30px;
                vertical-align: middle;
                text-align: center;
                padding: 0;
                font-family: 'Glyphicons Halflings';
                color: white;
                @media only screen and (max-width: 600px) {
                    font-size: 20px;
                }
            }
            &.left {
                left: 50%;
                margin-left: -10px;
                &::after {
                    content: "\e257";
                }
            }
            &.right {
                right: 50%;
                margin-right: -10px;
                &::after {
                    content: "\e258";
                }
            }
        }
    }
    .carousel-indicators {
        margin: 0 auto;
        padding: 20px 0;
        margin-bottom: 0;
        z-index: 10;
        bottom: 0;
        left: 0;
        width: 100%;
        li {
            position: relative;
            margin: 0 3px;
            width: 20px;
            height: 20px;
            border: 1px solid black;
            background-color: dimGrey;
            .transition(background-color .2s ease-in-out 0s);
            &:hover {
                background-color: lightSlateGrey;
            }
            &.active {
                background-color: white;
            }
        }
    }
}
