@card-border: #dfd8d8;
.news-list-view {
    margin-top: @figure-margin;
    margin-bottom: @figure-margin;
    .news-list-item {
        padding: 0;
        background-color: #fff;
        border-width: 0 0 1px 0;
        font-weight: 300;
        position: relative;
        height: 500px;
        .card-image {
            background-color: #f2f5f6;
            height: 50%;
            overflow: hidden;
            border-radius: 2px;
            position: relative;
            right: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            img {
                width: 100%;
                height: 100%;
                border-radius: 2px;
                object-fit: cover;
            }
        }
        .card-content {
            padding: 12px 15px;
            border-width: 1px;
            border-style: solid;
            border-color: @card-border;
            position: relative;
            height: 50%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            // left: 10%;
            // top: 0;
            // right: 0;
            // bottom: 0;
            // margin: 0;
            .card-header {
                overflow: hidden;
                height: 60px;
                .inner-table {
                    text-align: center;
                    height: 100%;
                    width: 100%;
                    display: table;
                    * {
                        display: table-cell;
                        vertical-align: middle;
                        font-size: 27px;
                    }
                }
            }
            .card-linebreak {
                margin: 8px auto;
                width: 85%;
            }
            .card-teaser {
                position: relative;
                text-align: center;
                overflow: hidden;
                margin: 10px 0 0 0;
                height: 48px;
                * {
                    font-family: @font-family-base;
                    margin: 0;
                    padding: 0;
                    font-size: 16px;
                    padding: 0 2px;
                    line-height: 1.5;
                    margin: 0;
                }
            }
            .card-info {
                    text-align: center;
                    height: 22px;
                    width: 80%;
                    margin: 0 auto;
                    font-size: 15px;
                    // display: table;
                    // margin: 0 auto;
                .extra {
                    // display: table-cell;
                    // vertical-align: middle;
                    white-space: nowrap;
                    overflow: hidden;
                    height: 22px;
                    .glyphicon {
                        font-size: 14px;
                        color: @brand-primary;
                    }
                }
            }
        }
        // before and after triangles to also create border
        .image-below::after, .image-below::before,
        .image-above::after, .image-above::before {
                content: "";
                z-index: 10;
                left: 50%;
                margin-left: -50px;
                width: 0;
                height: 0;
                border-style: solid;
                position: absolute;
        }
        .image-below::before {
            top: 100%;
            margin-top: -4px;
            border-width: 30px 50px 0 50px;
            border-color: @card-border transparent transparent transparent;
        }
        .image-below::after {
            top: 100%;
            margin-top: -5px;
            border-width: 30px 50px 0 50px;
            border-color: #ffffff transparent transparent transparent;
        }
        .image-above::before {
            top: -30px;
            margin-top: 4px;
            border-width: 0 50px 30px 50px;
            border-color: transparent transparent @card-border transparent;
        }
        .image-above::after {
            top: -30px;
            margin-top: 5px;
            border-width: 0 50px 30px 50px;
            border-color: transparent transparent #ffffff transparent;
        }
    }
}

.news-single {
    margin: 0 auto;
    .article {
        .extra {
            margin-bottom: floor((@font-size-base * 0.8));
        }
    }
}

.label.label-info {
    background-color: lighten(@brand-primary, 20%);
    position: relative;
    bottom: 2px;
    margin-left: 7px;
}

.page-navigation {
    margin-bottom: @figure-margin;
    text-align: center;
    clear: both;
    position: relative;
    top: 1em;
    ul {
         margin: 0 auto;
    }
}
