<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<header class="navbar navbar-{settings.navigation.style}{f:if(condition:settings.logo.file,then:' navbar-has-image')}{f:if(condition:settings.navigation.type, else:' navbar-top', then:' navbar-{settings.navigation.type} navbar-fixed-{settings.navigation.type}')}">
    <div class="container">
        <div class="navbar-header navbar-header-main">
            <!-- LOGO -->
            <f:if condition="{settings.logoSmallScreen.file}">
                <f:then>
                <f:link.page pageUid="/" class="navbar-brand navbar-brand-image hidden-sm hidden-xs" title="{settings.logo.linktitle}">
                    <img class="navbar-brand-logo-normal navbar-logo-lg" src="{f:uri.image(src: settings.logo.file)}" alt="{logoAlt}" height="{settings.logo.height}" width="{settings.logo.width}">
                </f:link.page>
                <f:link.page pageUid="/" class="navbar-brand navbar-brand-image hidden-lg hidden-md" title="{settings.logo.linktitle}">
                    <img class="navbar-brand-logo-normal navbar-logo-sm" src="{f:uri.image(src: settings.logoSmallScreen.file)}" alt="{logoAlt}" height="{settings.logo.height}" width="{settings.logo.width}">
                </f:link.page>
                </f:then>
                <f:else>
                    <f:link.page pageUid="{rootPage}" class="navbar-brand" title="{settings.logo.linktitle}">{siteTitle}</f:link.page>
                </f:else>
            </f:if>
            <!-- Navbar collapsed -->
            <f:if condition="{mainnavigation}">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </f:if>
            <span class="navbar-header-border-bottom"></span>
        </div>
        <!-- Navbar -->
        <f:if condition="{mainnavigation}">
            <nav class="navbar-collapse collapse" role="navigation">
                <!-- Top level ul -->
                <ul class="nav navbar-nav navbar-main">
                    <f:for each="{mainnavigation}" as="mainnavigationItem">
                        <li class="{f:if(condition: mainnavigationItem.active, then:'active')} {f:if(condition: mainnavigationItem.children, then:'dropdown')}">
                            <f:if condition="{mainnavigationItem.spacer}">
                                <f:then>
                                    <p class="navbar-text">{mainnavigationItem.title}</p>
                                </f:then>
                                <f:else>
                                    <f:if condition="{mainnavigationItem.children}">
                                        <f:then>
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                                <span>{mainnavigationItem.title}</span>
                                                <b class="caret"></b>
                                                <span class="bar"></span>
                                            </a>
                                            <!-- Dropdown ul -->
                                            <ul class="dropdown-menu">
                                                <f:for each="{mainnavigationItem.children}" as="child">
                                                    <f:if condition="{child.spacer}">
                                                        <f:then>
                                                            <li class="dropdown-header">{child.title}</li>
                                                        </f:then>
                                                        <f:else>
                                                            <li class="{f:if(condition: child.active, then:'active')}">
                                                                <a href="{child.link}" target="{child.target}" title="{child.title}">
                                                                    <span>{child.title}</span>
                                                                </a>
                                                            </li>
                                                        </f:else>
                                                    </f:if>
                                                </f:for>
                                            </ul>
                                        </f:then>
                                        <f:else>
                                            <a href="{mainnavigationItem.link}" target="{mainnavigationItem.target}" title="{mainnavigationItem.title}">
                                                <span>{mainnavigationItem.title}</span>
                                                <span class="bar"></span>
                                            </a>
                                        </f:else>
                                    </f:if>
                                </f:else>
                            </f:if>
                        </li>
                    </f:for>
                </ul>
            </nav>
        </f:if>
    </div>
</header>
</html>
