<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:spaceless>


	<f:comment>

		Set figure Orientation Classes

	</f:comment>
	<f:switch expression="{data.imageorient}">
		<f:case value="0">
			<f:variable name="position">above</f:variable>
			<f:variable name="orientation">orient-center</f:variable>
		</f:case>
		<f:case value="1">
			<f:variable name="position">above</f:variable>
			<f:variable name="orientation">orient-right</f:variable>
		</f:case>
		<f:case value="2">
			<f:variable name="position">above</f:variable>
			<f:variable name="orientation">orient-left</f:variable>
		</f:case>
		<f:case value="8">
			<f:variable name="position">below</f:variable>
			<f:variable name="orientation">orient-center</f:variable>
		</f:case>
		<f:case value="9">
			<f:variable name="position">below</f:variable>
			<f:variable name="orientation">orient-right</f:variable>
		</f:case>
		<f:case value="10">
			<f:variable name="position">below</f:variable>
			<f:variable name="orientation">orient-left</f:variable>
		</f:case>
		<f:case value="17">
			<f:variable name="position">wrap</f:variable>
			<f:variable name="orientation">wrap-right</f:variable>
		</f:case>
		<f:case value="18">
			<f:variable name="position">wrap</f:variable>
			<f:variable name="orientation">wrap-left</f:variable>
		</f:case>
		<f:case value="25">
			<f:variable name="position">column</f:variable>
			<f:variable name="orientation">column-right</f:variable>
			<f:variable name="text-orientation">column-left</f:variable>
		</f:case>
		<f:case value="26">
			<f:variable name="position">column</f:variable>
			<f:variable name="orientation">column-left</f:variable>
			<f:variable name="text-orientation">column-right</f:variable>
		</f:case>
		<f:defaultCase>
			<f:variable name="position">above</f:variable>
			<f:variable name="orientation">orient-left</f:variable>
		</f:defaultCase>
	</f:switch>



	<f:comment>

		Add extra attributes

	</f:comment>
	<f:comment>Column separation for collage</f:comment>
	<f:if condition="{data.figurecolsep} >= 0 && {data.CType} == collage">
		<f:then>
			<f:variable name="collageattribute">style=-webkit-column-gap:{data.figurecolsep}px;-moz-column-gap:{data.figurecolsep}px;column-gap:{data.figurecolsep}px;</f:variable>
		</f:then>
	</f:if>

	<f:comment>

		Set figure width classes

	</f:comment>
	<f:if condition="{data.imagewidth} || {data.imageheight}">
		<f:comment>Set static width for static elements</f:comment>
		<f:then>
			<f:variable name="figureclass">figure-items-static</f:variable>
			<f:variable name="textclass">figure-text-static</f:variable>
		</f:then>

		<f:else>
			<f:comment>Set width class for rest including text if column</f:comment>
			<f:switch expression="{data.figurewidthresponsive}">
				<f:case value="100">
					<f:variable name="figureclass">width-100</f:variable>
					<f:if condition="{position} == column"><f:then>
						<f:variable name="textclass">width-100</f:variable>
					</f:then></f:if>
				</f:case>
				<f:case value="92">
					<f:variable name="figureclass">width-92</f:variable>
					<f:if condition="{position} == column"><f:then>
						<f:variable name="textclass">width-8</f:variable>
					</f:then></f:if>
				</f:case>
				<f:case value="83">
					<f:variable name="figureclass">width-83</f:variable>
					<f:if condition="{position} == column"><f:then>
						<f:variable name="textclass">width-17</f:variable>
					</f:then></f:if>
				</f:case>
				<f:case value="75">
					<f:variable name="figureclass">width-75</f:variable>
					<f:if condition="{position} == column"><f:then>
						<f:variable name="textclass">width-25</f:variable>
					</f:then></f:if>
				</f:case>
				<f:case value="66">
					<f:variable name="figureclass">width-66</f:variable>
					<f:if condition="{position} == column"><f:then>
						<f:variable name="textclass">width-33</f:variable>
					</f:then></f:if>
				</f:case>
				<f:case value="58">
					<f:variable name="figureclass">width-58</f:variable>
					<f:if condition="{position} == column"><f:then>
						<f:variable name="textclass">width-42</f:variable>
					</f:then></f:if>
				</f:case>
				<f:case value="50">
					<f:variable name="figureclass">width-50</f:variable>
					<f:if condition="{position} == column"><f:then>
						<f:variable name="textclass">width-50</f:variable>
					</f:then></f:if>
				</f:case>
				<f:case value="42">
					<f:variable name="figureclass">width-42</f:variable>
					<f:if condition="{position} == column"><f:then>
						<f:variable name="textclass">width-58</f:variable>
					</f:then></f:if>
				</f:case>
				<f:case value="33">
					<f:variable name="figureclass">width-33</f:variable>
					<f:if condition="{position} == column"><f:then>
						<f:variable name="textclass">width-66</f:variable>
					</f:then></f:if>
				</f:case>
				<f:case value="25">
					<f:variable name="figureclass">width-25</f:variable>
					<f:if condition="{position} == column"><f:then>
						<f:variable name="textclass">width-75</f:variable>
					</f:then></f:if>
				</f:case>
				<f:case value="17">
					<f:variable name="figureclass">width-17</f:variable>
					<f:if condition="{position} == column"><f:then>
						<f:variable name="textclass">width-83</f:variable>
					</f:then></f:if>
				</f:case>
				<f:case value="8">
					<f:variable name="figureclass">width-8</f:variable>
					<f:if condition="{position} == column"><f:then>
						<f:variable name="textclass">width-92</f:variable>
					</f:then></f:if>
				</f:case>
				<f:defaultCase>
					<f:variable name="figureclass">width-75</f:variable>
					<f:if condition="{position} == column"><f:then>
						<f:variable name="textclass">width-25</f:variable>
					</f:then></f:if>
				</f:defaultCase>
			</f:switch>
		</f:else>
	</f:if>



	<f:comment>Render sections</f:comment>

	<f:comment>If frame open frame div (closed at bottom in new if statement)</f:comment>
    <f:if condition="{data.frame_class} != none">
        <f:then>
            <div id="c{data.uid}" class="frame frame-{data.frame_class} frame-type-{data.CType} frame-layout-{data.layout}{f:if(condition: data.space_before_class, else: ' frame-space-before-none', then: ' frame-space-before-{data.space_before_class}')}{f:if(condition: data.space_after_class, else: ' frame-space-after-none', then: ' frame-space-after-{data.space_after_class}')}">
                <f:if condition="{data._LOCALIZED_UID}">
                    <a id="c{data._LOCALIZED_UID}"></a>
				</f:if>
		</f:then>
		<f:else>
			<f:comment>Else add space before div</f:comment>
			<a id="c{data.uid}"></a>
            <f:if condition="{data._LOCALIZED_UID}">
                <a id="c{data._LOCALIZED_UID}"></a>
            </f:if>
            <f:if condition="{data.space_before_class}">
                <div class="frame-space-before-{data.space_before_class}"></div>
            </f:if>
		</f:else>
	</f:if>

	<f:comment>Content before element</f:comment>
	<f:render section="Before" optional="true">
		<f:render partial="DropIn/Before/All" arguments="{_all}" />
	</f:render>
	<f:render section="Header" optional="true">
		<f:render partial="Header/All" arguments="{_all}" />
	</f:render>


	<f:comment>Main and surrounding text positioning and classes</f:comment>

	<f:switch expression="{position}">
		<f:comment>Above</f:comment>
		<f:case value="above">
			<div class="figure figure-above">
				<div {figureattribute} class="figure-items figure-items-above {orientation} {figureclass}">
					<f:render section="Main" optional="true" />
				</div>
				<f:if condition="({data.bodytext} && {data.CType} == collage || {data.CType} == textpic || {data.CType} == textmedia) ||
				{data.additionaltext}">
					<f:then>
						<div {textattribute} class="figure-text figure-text-above">
							<f:render section="Text" optional="true"></f:render>
						</div>
					</f:then>
				</f:if>
			</div>
		</f:case>

		<f:comment>Below</f:comment>
		<f:case value="below">
			<div class="figure figure-below">
				<f:if condition="({data.bodytext} && {data.CType} == collage || {data.CType} == textpic || {data.CType} == textmedia) ||
				{data.additionaltext}">
					<f:then>
						<div class="figure figure-below">
							<div {textattribute} class="figure-text figure-text-below">
								<f:render section="Text" optional="true"></f:render>
							</div>
						</div>
					</f:then>
				</f:if>

				<div {figureattribute} class="figure-items figure-items-below {orientation} {figureclass}">
					<f:render section="Main" optional="true" />
				</div>
			</div>
		</f:case>

		<f:comment>Wrap</f:comment>
		<f:case value="wrap">
			<div class="figure figure-wrap">
				<div {figureattribute} class="figure-items figure-items-wrap {orientation} {figureclass}">
					<f:render section="Main" optional="true"></f:render>
				</div>
				<f:if condition="({data.bodytext} && {data.CType} == collage || {data.CType} == textpic || {data.CType} == textmedia) ||
				{data.additionaltext}">
					<f:then>
						<div {textattribute} class="figure-text figure-text-wrap">
							<f:render section="Text" optional="true"></f:render>
						</div>
					</f:then>
				</f:if>
				<div class="clearfix"></div>
			</div>
		</f:case>

		<f:comment>Columns</f:comment>
		<f:comment>Column left</f:comment>
		<f:case value="column">
		<f:if condition="{orientation}==column-left">
			<f:then>
				<div class="figure figure-column">
					<div {figureattribute} class="figure-items figure-items-column {orientation} {figureclass}">
						<f:render section="Main" optional="true"></f:render>
					</div>
					<f:if condition="({data.bodytext} && {data.CType} == collage || {data.CType} == textpic || {data.CType} == textmedia) ||
					{data.additionaltext}">
						<f:then>
							<div {textattribute} class="figure-text figure-text-column {text-orientation} {textclass}">
								<f:render section="Text" optional="true"></f:render>
							</div>
						</f:then>
					</f:if>
					<div class="clearfix"></div>
				</div>
			</f:then>

			<f:comment>Column right</f:comment>
			<f:else if="{orientation}==column-right">
				<div class="figure figure-column">
					<f:if condition="({data.bodytext} && {data.CType} == collage || {data.CType} == textpic || {data.CType} == textmedia) ||
					{data.additionaltext}">
						<f:then>
							<div {textattribute} class="figure-text figure-text-column {text-orientation} {textclass}">
							<f:render section="Text" optional="true"></f:render>
							</div>
						</f:then>
					</f:if>
					<div {figureattribute} class="figure-items figure-items-column {orientation} {figureclass}">
						<f:render section="Main" optional="true"></f:render>
					</div>
				</div>
				<div class="clearfix"></div>
			</f:else>
		</f:if>
		</f:case>

		<f:comment>Default</f:comment>
		<f:defaultCase>
		<div class="figure figure-above">
			<div {figureattribute} class="figure-items figure-items-above {orientation} {figureclass}">
				<f:render section="Main" optional="true"></f:render>
			</div>
			<f:if condition="({data.bodytext} && {data.CType} == collage || {data.CType} == textpic || {data.CType} == textmedia) ||
			{data.additionaltext}">
				<f:then>
					<div {textattribute} class="figure-text figure-text-above">
						<f:render section="Text" optional="true"></f:render>
					</div>
				</f:then>
			</f:if>
		</div>
		</f:defaultCase>
	</f:switch>


	<f:comment>Content after element</f:comment>
	<f:render section="Footer" optional="true">
		<f:render partial="Footer/All" arguments="{_all}" />
	</f:render>
	<f:render section="After" optional="true">
		<f:render partial="DropIn/After/All" arguments="{_all}" />
	</f:render>

	<f:comment>If frame close frame div</f:comment>
	<f:if condition="{data.frame_class} != none">
		<f:then>
			</div>
		</f:then>
		<f:comment>Else add space after div</f:comment>
		<f:else>
			<f:if condition="{data.space_after_class}">
				<div class="frame-space-after-{data.space_after_class}"></div>
			</f:if>
		</f:else>
	</f:if>

</f:spaceless>
</html>
