<f:switch expression="{data.figurewidthresponsive}">
	<f:case value="100">
		<f:variable name="figureclass">width-100</f:variable>
	</f:case>
	<f:case value="92">
		<f:variable name="figureclass">width-92</f:variable>
	</f:case>
	<f:case value="83">
		<f:variable name="figureclass">width-83</f:variable>
	</f:case>
	<f:case value="75">
		<f:variable name="figureclass">width-75</f:variable>
	</f:case>
	<f:case value="66">
		<f:variable name="figureclass">width-66</f:variable>
	</f:case>
	<f:case value="58">
		<f:variable name="figureclass">width-58</f:variable>
	</f:case>
	<f:case value="50">
		<f:variable name="figureclass">width-50</f:variable>
	</f:case>
	<f:case value="42">
		<f:variable name="figureclass">width-42</f:variable>
	</f:case>
	<f:case value="33">
		<f:variable name="figureclass">width-33</f:variable>
	</f:case>
	<f:case value="25">
		<f:variable name="figureclass">width-25</f:variable>
	</f:case>
	<f:case value="17">
		<f:variable name="figureclass">width-17</f:variable>
	</f:case>
	<f:case value="8">
		<f:variable name="figureclass">width-8</f:variable>
	</f:case>
	<f:defaultCase>
		<f:variable name="figureclass">width-75</f:variable>
	</f:defaultCase>
</f:switch>
