<f:switch expression="{data.imageorient}">
	<f:case value="0">
		<f:variable name="position">above</f:variable>
		<f:variable name="orientation">orient-center</f:variable>
	</f:case>
	<f:case value="1">
		<f:variable name="position">above</f:variable>
		<f:variable name="orientation">orient-right</f:variable>
	</f:case>
	<f:case value="2">
		<f:variable name="position">above</f:variable>
		<f:variable name="orientation">orient-left</f:variable>
	</f:case>
	<f:case value="8">
		<f:variable name="position">below</f:variable>
		<f:variable name="orientation">orient-center</f:variable>
	</f:case>
	<f:case value="9">
		<f:variable name="position">below</f:variable>
		<f:variable name="orientation">orient-right</f:variable>
	</f:case>
	<f:case value="10">
		<f:variable name="position">below</f:variable>
		<f:variable name="orientation">orient-left</f:variable>
	</f:case>
	<f:case value="17">
		<f:variable name="position">wrap</f:variable>
		<f:variable name="orientation">wrap-right</f:variable>
	</f:case>
	<f:case value="18">
		<f:variable name="position">wrap</f:variable>
		<f:variable name="orientation">wrap-left</f:variable>
	</f:case>
	<f:case value="25">
		<f:variable name="position">column</f:variable>
		<f:variable name="orientation">column-right</f:variable>
		<f:variable name="text-orientation">column-left</f:variable>
	</f:case>
	<f:case value="26">
		<f:variable name="position">column</f:variable>
		<f:variable name="orientation">column-left</f:variable>
		<f:variable name="text-orientation">column-right</f:variable>
	</f:case>
	<f:defaultCase>
		<f:variable name="position">above</f:variable>
		<f:variable name="orientation">orient-left</f:variable>
	</f:defaultCase>
</f:switch>
