<f:if condition="{position}==above">
	<f:then>
		<div class="figure figure-above">
			<div class="figure-items figure-items-above {orientation} {figureclass}">
				<f:render partial="Media/Gallery" arguments="{_all}" />
			</div>
			<div class="clearfix"></div>
			<div class="figure-text figure-text-above">
				<f:format.html>{data.bodytext}</f:format.html>
			</div>
		</div>
	</f:then>
	<f:else if="{position}==below">
		<div class="figure figure-below">
			<div class="figure-text figure-text-below">
				<f:format.html>{data.bodytext}</f:format.html>
			</div>
			<div class="figure-items figure-items-below {orientation} {figureclass}">
				<f:render partial="Media/Gallery" arguments="{_all}" />
			</div>
			<div class="clearfix"></div>
		</div>
	</f:else>
	<f:else if="{position}==column && {orientation}==column-left">
		<div class="figure figure-column">
			<div class="figure-items figure-items-column {orientation} {figureclass}">
				<f:render partial="Media/Gallery" arguments="{_all}" />
			</div>
			<div class="figure-text figure-text-column {text-orientation} {textclass}">
				<f:format.html>{data.bodytext}</f:format.html>
			</div>
			<div class="clearfix"></div>
		</div>
	</f:else>
	<f:else if="{position}==column && {orientation}==column-right">
		<div class="figure figure-column">
			<div class="figure-text figure-text-column {text-orientation} {textclass}">
				<f:format.html>{data.bodytext}</f:format.html>
			</div>
			<div class="figure-items figure-items-column {orientation} {figureclass}">
				<f:render partial="Media/Gallery" arguments="{_all}" />
			</div>
			<div class="clearfix"></div>
		</div>
	</f:else>
</f:if>
