<f:switch expression="{data.figurewidthresponsive}">
	<f:case value="100">
		<f:variable name="figureclass">col-sm-12 col-xs-12</f:variable>
		<f:variable name="textclass">col-sm-12 col-xs-12</f:variable>
	</f:case>
	<f:case value="92">
		<f:variable name="figureclass">col-sm-11 col-xs-12</f:variable>
		<f:variable name="textclass">col-sm-1 col-xs-12</f:variable>
	</f:case>
	<f:case value="83">
		<f:variable name="figureclass">col-sm-10 col-xs-12</f:variable>
		<f:variable name="textclass">col-sm-2 col-xs-12</f:variable>
	</f:case>
	<f:case value="75">
		<f:variable name="figureclass">col-sm-9 col-xs-12</f:variable>
		<f:variable name="textclass">col-sm-3 col-xs-12</f:variable>
	</f:case>
	<f:case value="66">
		<f:variable name="figureclass">col-sm-8 col-xs-12</f:variable>
		<f:variable name="textclass">col-sm-4 col-xs-12</f:variable>
	</f:case>
	<f:case value="58">
		<f:variable name="figureclass">col-sm-7 col-xs-12</f:variable>
		<f:variable name="textclass">col-sm-5 col-xs-12</f:variable>
	</f:case>
	<f:case value="50">
		<f:variable name="figureclass">col-sm-6 col-xs-12</f:variable>
		<f:variable name="textclass">col-sm-6 col-xs-12</f:variable>
	</f:case>
	<f:case value="42">
		<f:variable name="figureclass">col-sm-5 col-xs-12</f:variable>
		<f:variable name="textclass">col-sm-7 col-xs-12</f:variable>
	</f:case>
	<f:case value="33">
		<f:variable name="figureclass">col-sm-4 col-xs-12</f:variable>
		<f:variable name="textclass">col-sm-8 col-xs-12</f:variable>
	</f:case>
	<f:case value="25">
		<f:variable name="figureclass">col-sm-3 col-xs-12</f:variable>
		<f:variable name="textclass">col-sm-9 col-xs-12</f:variable>
	</f:case>
	<f:case value="17">
		<f:variable name="figureclass">col-sm-2 col-xs-12</f:variable>
		<f:variable name="textclass">col-sm-10 col-xs-12</f:variable>
	</f:case>
	<f:case value="8">
		<f:variable name="figureclass">col-sm-1 col-xs-12</f:variable>
		<f:variable name="textclass">col-sm-11 col-xs-12</f:variable>
	</f:case>
	<f:defaultCase>
		<f:variable name="figureclass">col-sm-9 col-xs-12</f:variable>
		<f:variable name="textclass">col-sm-3 col-xs-12</f:variable>
	</f:defaultCase>
</f:switch>
