


// More custom styling
// Margins



body {
	h1 {margin: @h1-margin-top 0 @h1-margin-bot 0;}
	h2 {margin: @h2-margin-top 0 @h2-margin-bot 0;}
	h3 {margin: @h3-margin-top 0 @h3-margin-bot 0;}
	h4 {margin: @h4-margin-top 0 @h4-margin-bot 0;}
	h5 {margin: @h5-margin-top 0 @h5-margin-bot 0;}
	h6 {margin: @h6-margin-top 0 @h6-margin-bot 0;}
}


