// set logo height to variables
.navbar-header-main .navbar-brand.navbar-brand-image {
	.navbar-logo-lg {
		max-height: none;
		height: @logo-height-lg;
	}
	.navbar-logo-sm {
		height: @logo-height-sm;
		max-height: none;
	}
}

// set navbar height in large screens to variable
@media (min-width: @screen-md) {
	.navbar-main > li > .navbar-text, .navbar-main > li > a,
	.navbar-header-main .navbar-brand.navbar-brand-image {
		height: @navbar-height-lg;
		line-height: @navbar-height-lg;
	}
}

// Add caret to mark existing submenu items
.navbar-main {
    @media (min-width: @grid-float-breakpoint) {
        > li {
            &.dropdown {
                > a >.caret {
                    display: inline-block;
                    margin: 0 0 2px 5px;
                    .transition-transform(250ms ease-in-out 0s);
                    .rotate(0deg);
                }
                &.open {
                    > a {
                        > .caret {
                           .rotate(180deg);
                        }
                    }
                }
            }
        }
    }
}

.breadcrumb-section {
    margin-bottom: 0;
}

.navbar-header-border-bottom {
    display: none !important;
}
