// round the edges of scroll top
.scroll-top {
    border-radius: 20px;
    &.scroll-top-visible {
        border-radius: 15px;
    }
}

hr {
    border-top-width: 1.2px;
}

.container-fluid {
    padding: 0;
}

.caption {
    word-break: normal;
}
