// navbar
@navbar-height-lg: 120px;
@logo-height-lg: 50px;
@logo-height-sm: 35px;
// For relative heights you can use:
// @logo-lg-height: calc(0.4 * @navbar-lg-height);

// for forms
@input-text-color: #555;

// footer

@footer-bottom-bg: darken(@footer-bg, 4%);

// BOOTSTRAP VARIABLES
// add xxs
@screen-xxs-max: (@screen-xs - 1);

@grid-gutter-width: 30px;
@figure-margin: 1em;
@brand-primary:                       #585656;

@dropdown-link-hover-bg:              lighten(@brand-primary, 15%);
// @link-color:            #1a0dab;
