<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:comment>Redirect if static figure</f:comment>
<f:if condition="{figureclass}==figure-items-static">
    <f:then>
        <f:render partial="ShareTransition/GalleryStatic" arguments="{_all}" />
    </f:then>

<f:comment>
    Else bootstrap class gallery
</f:comment>
<f:else>
    <f:if condition="{files}">
        <f:if condition="{files -> f:count()} > 1">
            <f:then>
                <f:switch expression="{data.imagecols}">
                    <f:case value="2">
                            <f:variable name="columnclass">gallery-2 col-sm-6 col-xs-12</f:variable>
                    </f:case>
                    <f:case value="3">
                            <f:variable name="columnclass">gallery-3 col-sm-4 col-xs-12</f:variable>
                    </f:case>
                    <f:case value="4">
                            <f:variable name="columnclass">gallery-4 col-sm-3 col-xs-6</f:variable>
                    </f:case>
                    <f:case value="6">
                            <f:variable name="columnclass">gallery-5 col-sm-2 col-xs-4</f:variable>
                    </f:case>
                    <f:defaultCase>
                        <f:variable name="columnclass">gallery-2 col-xs-6</f:variable>
                    </f:defaultCase>
                </f:switch>
            </f:then>
            <f:else>
                <f:variable name="columnclass">gallery-1 col-xs-12</f:variable>
            </f:else>
        </f:if>

        <div class="gallery-row row">
            <f:for each="{files}" as="file" iteration="fileIteration">
                <div class="gallery-item {columnclass}">
                    <f:render partial="Media/Type" arguments="{file: file, data: data, settings: settings}" />
                </div>
            </f:for>
        </div>
    </f:if>
</f:else>
</f:if>
</html>
