<div class="col-lg-5 col-md-6">

    <!--Rotating card-->
    <div class="card-rotating">

        <!--Front Side-->
        <div class="front z-depth-1 hoverable">
            <div class="card-image">
                <img class="img-responsive" src="https://mdbootstrap.com/images/reg/reg%20(5).jpg">
            </div>
            <img class="card-avatar img-circle img-responsive" src="https://mdbootstrap.com/wp-content/uploads/2015/10/team-avatar-2.jpg" >
            <!-- Content -->
            <div class="card-content text-center">
                <h4>Heading</h4>
                <h5>Subheading</h5>
                <!--Triggering button-->
                <a class="rotate-btn">Click (here?) to rotate</a>
            </div>
        </div>
        <!--/.Front Side-->

        <!--Back Side-->
        <div class="back z-depth-1 text-center hoverable">
            <!-- Content -->
            <div class="card-content">
                <h4>Heading</h4>
                <p>Subheading
                <br> Lorem ipsum</p>
                <hr> Lorem ipsum
                <br> Lorem ipsum
                <br> Lorem ipsum
                <br> Lorem ipsum
                <br> Lorem ipsum
                <br> Lorem ipsum
                <br>

                <!--Triggering button-->
                <a class="rotate-btn"> Click here to rotate back</a>
                <!-- <div class="sm-container">
                    <ul class="list-inline card-sm">
                        <li><a class="icons-sm fb-ic"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="icons-sm tw-ic"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="icons-sm gplus-ic"><i class="fa fa-google-plus"></i></a></li>
                        <li><a class="icons-sm li-ic"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div> -->
            </div>
        </div>
        <!--/.Back Side-->

    </div>
    <!--/.Rotating card-->

</div>
