<!-- Carousel -->
<div id="carousel1" class="carousel slide carousel-fade hoverable">

    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel1" data-slide-to="0" class="active">
        </li>
        <li data-target="#carousel1" data-slide-to="1"></li>
        <li data-target="#carousel1" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner z-depth-2" role="listbox">

        <!-- First slide -->
        <div class="item active">
            <div class="view overlay hm-blue-slight">
                <a><img src="https://mdbootstrap.com/images/slides/slide%20(7).jpg" class="img-responsive" alt="slide1">
                    <div class="mask waves-effect waves-light"></div>
                </a>
                <div class="carousel-caption hidden-xs">
                    <div class="animated fadeInDown">
                        <h5>Lorem ipsum dolor sit amet</h5>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.item -->

        <!-- Second slide -->
        <div class="item">
            <div class="view overlay hm-blue-slight">
                <a><img src="https://mdbootstrap.com/images/slides/slide%20(23).jpg" class="img-responsive" alt="slide2">
                    <div class="mask waves-effect waves-light"></div>
                </a>
                <div class="carousel-caption hidden-xs">
                    <div class="animated fadeInDown">
                        <h5>Lorem ipsum dolor sit amet</h5>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.item -->

        <!-- Third slide -->
        <div class="item">
            <div class="view overlay hm-blue-slight">
                <a><img src="https://mdbootstrap.com/images/slides/slide%20(2).jpg" class="img-responsive" alt="slide3">
                    <div class="mask waves-effect waves-light"></div>
                </a>
                <div class="carousel-caption hidden-xs">
                    <div class="animated fadeInDown">
                        <h5>Lorem ipsum dolor sit amet</h5>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.item -->

    </div>
    <!-- /.carousel-inner -->

    <!-- Controls -->
    <a class="left carousel-control new-control" href="#carousel1" role="button" data-slide="prev">
        <span class="fa fa fa-angle-left waves-effect waves-light"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control new-control" href="#carousel1" role="button" data-slide="next">
        <span class="fa fa fa-angle-right waves-effect waves-light"></span>
        <span class="sr-only">Previous</span>
    </a>

</div>
<!-- /.carousel -->
