.card {
    position: relative;
    width: 500px;
    height: 550px;
    .card-image {
        position: relative;
        overflow: hidden;        
        height: 50%;
        img, a {
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    }
    .card-content {
        width: 100%;
        height: 35%;
    }
    .card-btn {
        height: 15%;
        width: 100%;
    }
}
