// Orientation fixes

// Disable otherwise double left-right margin for wrap items
.figure-wrap .figure-items-wrap {
	.collage-items {
		margin-left: 0;
		margin-right: 0;
	}
}

// Columns
.collage-items {
	margin: inherit;
	margin-bottom: @figure-margin;
	line-height: 0;
	-webkit-column-gap:   @figure-margin;
	-moz-column-gap:      @figure-margin;
	column-gap:           @figure-margin;
	figure {
		margin-bottom: 0;
		&:last-child {
			margin-bottom: 0 !important;
		}
	}
}
// 	// Responsive columns
// 	@media (min-width: @screen-sm) {
// 		&.column-2 {
// 			-moz-column-count:    2;
// 			-webkit-column-count: 2;
// 			column-count:         2;
// 		}
// 		&.column-3 {
// 			-moz-column-count:    3;
// 			-webkit-column-count: 3;
// 			column-count:         3;
// 		}
// 		&.column-4 {
// 			-moz-column-count:    4;
// 			-webkit-column-count: 4;
// 			column-count:         4;
// 		}
// 		&.column-6 {
// 			-moz-column-count:    6;
// 			-webkit-column-count: 6;
// 			column-count:         6;
// 		}
// 	}
// }
