@mailchimp-inputwidth: 100px;
.mailchimp#mc_embed_signup {
	margin-top: 1.5em;
	label {
		width: @mailchimp-inputwidth;
		padding-right: 10px;
		padding-left: 0;
		text-align: left;
		font-weight: normal;
		@media screen and (min-width: @screen-sm) {
			text-align: right;
		}
	}
	input {
		/* Firefox */
		width: -moz-calc(~'100% - @{mailchimp-inputwidth}');
		/* WebKit */
		width: -webkit-calc(~'100% - @{mailchimp-inputwidth}');
		/* Opera */
		width: -o-calc(~'100% - @{mailchimp-inputwidth}');
		/* Standard */
		width: calc(~'100% - @{mailchimp-inputwidth}');
		padding: 3px 8px;
		margin-bottom: 10px;
		color: @input-text-color;
		&.mce_inline_error {

			border-color: @brand-danger;
		}
	}
	.mc-button {
		position: relative;
		.btn {
			font-size: 0.85em;
			margin-top: 5px;
			padding: 2px 15px;
			left: @mailchimp-inputwidth;
		}
	}
	div.mce_inline_error, div#mce-responses {
		position: relative;
		/* Firefox */
		width: -moz-calc(~'100% - @{mailchimp-inputwidth}');
		/* WebKit */
		width: -webkit-calc(~'100% - @{mailchimp-inputwidth}');
		/* Opera */
		width: -o-calc(~'100% - @{mailchimp-inputwidth}');
		/* Standard */
		width: calc(~'100% - @{mailchimp-inputwidth}');
		left: @mailchimp-inputwidth;
	}
	div.mce_inline_error {
		background-color: @brand-danger;
		font-weight: normal;
	}
	div#mce-success-response {
		background-color: @brand-success;
		padding: 10px;
	}
}

// if in footer
footer .mailchimp#mc_embed_signup .mc-button {
	.btn {
		@media (min-width: @screen-md) {
			left: 0;
		}
		@media screen and (min-width: @screen-md) {
			float: right;
		}
	}
}
