// @btn-font-weight:                normal;
//
// @btn-default-color:              #fff;
// @btn-default-bg:                 #2BBBAD;
// @btn-default-border:             #ccc;
//
//
// .btn-default:hover, .btn-default:focus {
//     background-color: lighten(@btn-default-bg, 3%);
// }
// .btn-primary:hover, .btn-primary:focus {
//     background-color: lighten(@btn-primary-bg, 4%);
//
// }
// .btn-success:hover, .btn-success:focus {
//     background-color: lighten(@btn-success-bg, 3%);
//
// }
// .btn-info:hover, .btn-info:focus {
//     background-color: lighten(@btn-info-bg, 4%);
// }
// .btn-warning:hover, .btn-warning:focus {
//     background-color: lighten(@btn-warning-bg, 4%);
// }
// .btn-danger:hover, .btn-danger:focus {
//     background-color: lighten(@btn-danger-bg, 4%);
// }
