.card-rotating {
    height: 600px;
    width: 500px;
    .front {
        .card-image {
            overflow: hidden;
            height: 50%;
        }
        .card-avatar {
            position: relative;
            width: 30%;
            height: auto;
            left: 35%;
            top: -12.5%;
        }
        .card-content {
            margin-top: -10%;
        }
    }
    .back {
        display: table;
        padding: 20px;
        .card-content {
            position: relative;
            display: table-cell;
            vertical-align: middle;
            top: -10%;
        }
    }
}
