//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

@font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-sans-serif;

@font-size-base:          14px;
@font-size-large:         ceil((@font-size-base * 1.25)); // ~18px
@font-size-small:         ceil((@font-size-base * 0.85)); // ~12px

@font-size-h1:            floor((@font-size-base * 2.6)); // ~36px
@font-size-h2:            floor((@font-size-base * 2.15)); // ~30px
@font-size-h3:            ceil((@font-size-base * 1.7)); // ~24px
@font-size-h4:            ceil((@font-size-base * 1.25)); // ~18px
@font-size-h5:            @font-size-base;
@font-size-h6:            ceil((@font-size-base * 0.85)); // ~12px

//** Unit-less `line-height` for use in components like buttons.
@line-height-base:        1.428571429; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
@line-height-computed:    floor((@font-size-base * @line-height-base)); // ~20px

//** By default, this inherits from the `<body>`.
@headings-font-family:    inherit;
@headings-font-weight:    500;
@headings-line-height:    1.1;
@headings-color:          inherit;

@font-family-sans-serif:  "Roboto", Helvetica, Arial, sans-serif;
// @font-family-sans-serif:  "Montserrat", Helvetica, Arial, sans-serif;
// @font-family-sans-serif:  "Josefin Sans", Helvetica, Arial, sans-serif;
// @font-family-sans-serif:  "Muli", Helvetica, Arial, sans-serif;
// @font-family-sans-serif:  "Rokkitt", Helvetica, Arial, sans-serif;
// @font-family-sans-serif:  "Palanquin", Helvetica, Arial, sans-serif;


// Roboto from material design bootstrap (mdb)
@font-face {
  font-family: "Roboto";
  src: url("/typo3conf/ext/gen_core/Resources/Public/Fonts//Sans/Roboto/Roboto-Thin.woff2") format("woff2"), url("/typo3conf/ext/gen_core/Resources/Public/Fonts//Sans/Roboto/Roboto-Thin.woff") format("woff"), url("/typo3conf/ext/gen_core/Resources/Public/Fonts//Sans/Roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Roboto";
  src: url("/typo3conf/ext/gen_core/Resources/Public/Fonts//Sans/Roboto/Roboto-Light.woff2") format("woff2"), url("/typo3conf/ext/gen_core/Resources/Public/Fonts//Sans/Roboto/Roboto-Light.woff") format("woff"), url("/typo3conf/ext/gen_core/Resources/Public/Fonts//Sans/Roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: url("/typo3conf/ext/gen_core/Resources/Public/Fonts//Sans/Roboto/Roboto-Regular.woff2") format("woff2"), url("/typo3conf/ext/gen_core/Resources/Public/Fonts//Sans/Roboto/Roboto-Regular.woff") format("woff"), url("/typo3conf/ext/gen_core/Resources/Public/Fonts//Sans/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("/typo3conf/ext/gen_core/Resources/Public/Fonts//Sans/Roboto/Roboto-Medium.woff2") format("woff2"), url("/typo3conf/ext/gen_core/Resources/Public/Fonts//Sans/Roboto/Roboto-Medium.woff") format("woff"), url("/typo3conf/ext/gen_core/Resources/Public/Fonts//Sans/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("/typo3conf/ext/gen_core/Resources/Public/Fonts//Sans/Roboto/Roboto-Bold.woff2") format("woff2"), url("/typo3conf/ext/gen_core/Resources/Public/Fonts//Sans/Roboto/Roboto-Bold.woff") format("woff"), url("/typo3conf/ext/gen_core/Resources/Public/Fonts//Sans/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('/typo3conf/ext/gen_core/Resources/Public/Fonts//Sans/Montserrat/montserrat-v10-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('/typo3conf/ext/gen_core/Resources/Public/Fonts//Sans/Montserrat/montserrat-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/typo3conf/ext/gen_core/Resources/Public/Fonts//Sans/Montserrat/montserrat-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/typo3conf/ext/gen_core/Resources/Public/Fonts//Sans/Montserrat/montserrat-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/typo3conf/ext/gen_core/Resources/Public/Fonts//Sans/Montserrat/montserrat-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/typo3conf/ext/gen_core/Resources/Public/Fonts//Sans/Montserrat/montserrat-v10-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* josefin-sans-regular - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/typo3conf/ext/gen_core/Resources/Public/Fonts//Sans/JosefinSans/josefin-sans-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Josefin Sans'), local('JosefinSans'),
       url('/typo3conf/ext/gen_core/Resources/Public/Fonts//Sans/JosefinSans/josefin-sans-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/typo3conf/ext/gen_core/Resources/Public/Fonts//Sans/JosefinSans/josefin-sans-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/typo3conf/ext/gen_core/Resources/Public/Fonts//Sans/JosefinSans/josefin-sans-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/typo3conf/ext/gen_core/Resources/Public/Fonts//Sans/JosefinSans/josefin-sans-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/typo3conf/ext/gen_core/Resources/Public/Fonts//Sans/JosefinSans/josefin-sans-v9-latin-regular.svg#JosefinSans') format('svg'); /* Legacy iOS */
}

/* muli-regular - latin */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: url('/typo3conf/ext/gen_core/Resources/Public/Fonts//Sans/Muli/muli-v10-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Muli Regular'), local('Muli-Regular'),
       url('/typo3conf/ext/gen_core/Resources/Public/Fonts//Sans/Muli/muli-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/typo3conf/ext/gen_core/Resources/Public/Fonts//Sans/Muli/muli-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/typo3conf/ext/gen_core/Resources/Public/Fonts//Sans/Muli/muli-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/typo3conf/ext/gen_core/Resources/Public/Fonts//Sans/Muli/muli-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/typo3conf/ext/gen_core/Resources/Public/Fonts//Sans/Muli/muli-v10-latin-regular.svg#Muli') format('svg'); /* Legacy iOS */
}

/* rokkitt-regular - latin */
@font-face {
  font-family: 'Rokkitt';
  font-style: normal;
  font-weight: 400;
  src: url('/typo3conf/ext/gen_core/Resources/Public/Fonts//Serif/Rokkitt/rokkitt-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Rokkitt Regular'), local('Rokkitt-Regular'),
       url('/typo3conf/ext/gen_core/Resources/Public/Fonts//Serif/Rokkitt/rokkitt-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/typo3conf/ext/gen_core/Resources/Public/Fonts//Serif/Rokkitt/rokkitt-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/typo3conf/ext/gen_core/Resources/Public/Fonts//Serif/Rokkitt/rokkitt-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/typo3conf/ext/gen_core/Resources/Public/Fonts//Serif/Rokkitt/rokkitt-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/typo3conf/ext/gen_core/Resources/Public/Fonts//Serif/Rokkitt/rokkitt-v11-latin-regular.svg#Rokkitt') format('svg'); /* Legacy iOS */
}

/* palanquin-regular - latin */
@font-face {
  font-family: 'Palanquin';
  font-style: normal;
  font-weight: 400;
  src: url('/typo3conf/ext/gen_core/Resources/Public/Fonts//Sans/Palanquin/palanquin-v2-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Palanquin Regular'), local('Palanquin-Regular'),
       url('/typo3conf/ext/gen_core/Resources/Public/Fonts//Sans/Palanquin/palanquin-v2-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/typo3conf/ext/gen_core/Resources/Public/Fonts//Sans/Palanquin/palanquin-v2-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/typo3conf/ext/gen_core/Resources/Public/Fonts//Sans/Palanquin/palanquin-v2-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/typo3conf/ext/gen_core/Resources/Public/Fonts//Sans/Palanquin/palanquin-v2-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/typo3conf/ext/gen_core/Resources/Public/Fonts//Sans/Palanquin/palanquin-v2-latin-regular.svg#Palanquin') format('svg'); /* Legacy iOS */
}
