// GalleryWrap (textwrapping images)
.gallery-wrap-left {
	.gallery-wrap-items {
		float: left;
		.gallery-item {
			padding: 4px 1em 1em 0; 
			float: none;
			margin: 0;
			.image {
				margin: 0;
			}
		}
	}
	.gallery-wrap-text {
		display: block;
		float: left;
	}
}
.gallery-wrap-right {
	.gallery-wrap-items {
		float: right;
	}
}